@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(20, 0, 0);
  color: #fff;

  /* background: hsla(349, 94%, 21%, 1);

  background: linear-gradient(
    180deg,
    hsla(349, 94%, 21%, 1) 0%,
    hsla(301, 68%, 13%, 1) 93%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(349, 94%, 21%, 1) 0%,
    hsla(301, 68%, 13%, 1) 93% */
  /* );

  background: -webkit-linear-gradient(
    180deg,
    hsla(349, 94%, 21%, 1) 0%,
    hsla(301, 68%, 13%, 1) 93%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6A0316", endColorstr="#390B38", GradientType=1 ); */
}

.music-list::-webkit-scrollbar {
  width: 2px;
}

.music-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.music-list::-webkit-scrollbar-thumb {
  background-color: rgb(134, 131, 131);
  /* outline: 1px solid slategrey; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
